/* Global Attributes*/
*{
    font-family:'Courier New', Courier, monospace;
    box-sizing: border-box;
    border-width: 5px;
}

/*Root Attributes*/
:root {
--blue: #B6DDE2;
--accent: #FF8000;
--dark: #000000;
--light:#FAFDD9;
}

/*Body Attributes*/
body {
    display: flex;
    flex-direction: column;
    line-height:1.5;
    font-size:16px;
    background-color: var(--light);
}

/*Page Header*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: var(--blue);
    color: var(--dark);
}

h1 {
    margin:2%;
    font-size: 200%;
    background-color: var(--blue);
}

h2 {
    display: block;
    text-align: center;
    width:100%;
    padding: 20px;
    background-color: var(--blue);
    font-size: 40px;
}

/*Navigation Bar*/

nav ul {
    display: flex;
    justify-content: space-between;
    min-width: 240px;
    font-size: 125%;
    background-color: var(--blue);
}

nav a {
    color: var(--dark);
    background-color: var(--blue);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
color: var(--accent);
}

/* Main Section*/

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    max-width:96%;
    margin: 2% auto;
}

p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
    padding: 3px;
    background-color: var(--blue);
    font-size: large;
}

article {
    padding: 10px;
    text-align: center;
    background-color: var(--blue);
}

/*Footer*/

footer {
    display: block;
    position:relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    width: 100%;
}

/*About Me*/
.about-me {
    font-weight:500;

}

.avatar {
    display: block;
    margin: 0 auto;
    width:300px;
}

/*Work Section*/
.Work {
display:flex;
flex-direction: row;
flex-wrap: wrap;
width: 100%;
grid-template-columns: repeat(12,1fr);
margin:auto;
}

.primary-card {
    display:block;
    margin:0 auto;
    padding: 10px;
    width: 60%;
    border-style: solid;
    border-color: var(--blue);
    font-weight: bolder;
}

.primary-image {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
}

.primary-image:hover {
    opacity: 50%;
}

.secondary-card {
    display:block;
    margin:0 auto;
    padding: 10px;
    width: 50%;
    text-align: center;
    border-style: solid;
    border-color: var(--blue);
    font-weight: bolder;
}

.secondary-image {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.secondary-image:hover{
    opacity:50%;
}

/*Contact*/

.contact {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    width: 100%;
    margin:auto;
}

.contactInfo {
    display: block;
    list-style: none;
    font-size: 120%;
    font-weight: bolder;
    color: var(--dark);

}

 .contactInfo a {
    color: var(--dark);
    font-weight: bolder;
 }

 .contactInfo a:hover {
    color: var(--accent);
 }

 
 /*Larger Displays*/

@Media screen and (min-width:900px) {
    p {
        margin-top: 8%;
        display:flex;
        flex-direction: column;
    }
    .avatar {
        float: left;
    }
    
}
